<div class="jumbotron m-4 shadow">
    <h1 class="component-title">My Listings</h1>
    <!--User post-->
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><img class="img-fluid rounded" style="width: 10rem; height: auto"
                src="https://images.unsplash.com/photo-1566393028639-d108a42c46a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1627&q=80">
        </li>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo deserunt nisi blanditiis atque
                cupiditate hic necessitatibus reprehenderit dignissimos voluptas numquam, dolore dolor ab repellendus
                similique sunt quisquam officia dolorem fugiat.</p>
            <small>Donec id elit non mi porta.</small>
        </a>
    </ul>
</div>