<!-- <div class="heading d-flex flex-row">
        <div class="app-title-container">
            <h1 class="app-title">POST IT</h1>
        </div>
        <div class="heading-buttons d-flex flex-row align-items-center justify-content-end">
            <p class="my-account">MY ACCOUNT</p>
            <button type="button" class="btn btn-primary post-listing-button">POST LISTING</button>
        </div>
    </div> -->
    <header class="d-flex justify-content-between align-items-center mt-4">
            <h1 class="letter-spacing h1-color">Post It</h1>
            <!--Modal: Login / Register Form-->

                <div class="text-right">
                    <a class="btn btn-modal my-3 letter-spacing login-text h1-color" data-toggle="modal"
                        data-target="#modalLRForm">My Account</a>
                    <button type="button" class="btn btn-active btn-outline-info waves-effect ml-auto h1-color">Post a
                        Listing</button>
                </div>
    
            </div>
    
        </header>