<form class="search-form form-group d-flex flex-row align-items-center justify-content-center" method="post" action="/search">
    <input name="product" type="text submit" class="form-control search-bar" id="formGroupExampleInput" placeholder="Products, categories, or users">
    <select class="custom-select my-1 mr-sm-2 city" id="inlineFormCustomSelectPref">
        <option selected>Vancouver</option>
        <option value="1">City 2</option>
        <option value="2">City 3</option>
    </select>
</form>
