   <!-- Search bar -->
    <form  class="container h-75 d-flex justify-content-center" method="post" action="/search">
        <div class="my-auto w-75">
            <div class="input-group md-form form-sm form-2 active-cyan-4">
                <input class="form-control letter-spacing p-4" type="text" name="keyword" placeholder="What can we help you find?"
                    aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group md-form form-sm form-2" id="basic-text1">
                        <button class="btn-search" type="submit" aria-hidden="true">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <script src="./JS/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>