<h1 class="letter-spacing-header h1-color">POST IT</h1>

<!--Modal: Login / Register Form-->
<div>
    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
                                    class="fas fa-user mr-1 mt-2 mb-2"></i>
                                Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
                                    class="fas fa-user-plus mr-1 mt-2 mb-2"></i>
                                Register </a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body mb-1">
                                <div class="md-form form-sm mb-2 active-cyan-4">
                                    <label data-error="wrong" data-success="right" for="modalLRInput10">Email</label>
                                    <input type="text" id="modalLRInput10"
                                        class="form-control form-control-sm validate">
                                </div>

                                <div class="md-form form-sm mb-1 active-cyan-4">
                                    <label data-error="wrong" data-success="right" for="modalLRInput11">Password</label>
                                    <input type="text" id="modalLRInput11"
                                        class="form-control form-control-sm validate">
                                </div>
                                <div class="text-left form-sm mt-2">
                                    <button class="btn btn-info">Log In</button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-3">
                                    <p>Forgot <a href="#_____" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                    data-dismiss="modal">Close</button>
                            </div>
                            <!--/Panel 1-->
                        </div>

                        <!--Panel 2-->
                        <div class="tab-pane fade" id="panel8" role="tabpanel">

                            <!--Body-->
                            <form class="modal-body" method="post" action="/signup">
                                <div class="form-group">
                                    <label for="inputusername">Username</label>
                                    <input type="text" class="form-control" id="inputusername" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="inputpassword">Password</label>
                                    <input type="password" class="form-control" id="inputpassword" name="password">
                                </div>
                                <div class="form-group">
                                    <label for="inputemail">Email</label>
                                    <input type="email" class="form-control" id="inputemail" name="email">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputfirstname">First Name</label>
                                        <input type="text" class="form-control" id="inputfirstname" name="firstname">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputlastname">Last Name</label>
                                        <input type="text" class="form-control" id="inputlastname" name="lastname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">House Number</label>
                                    <input type="text" class="form-control" id="inputAddress" name="housenumber">
                                </div>
                                <div class="form-group">
                                    <label for="inputstreet">Street</label>
                                    <input type="text" class="form-control" id="inputstreet" name="street">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">City</label>
                                        <input type="text" class="form-control" id="inputCity" name="city">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputprovince">Province</label>
                                        <input id="inputprovince" class="form-control" maxlength="2" name="province">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputpostalcode">Postal Code</label>
                                        <input type="text" class="form-control" id="inputpostalcode" maxlength="6"
                                            name="postalcode">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputcountry">Country</label>
                                        <input type="text" class="form-control" id="inputcountry" maxlength="2"
                                            name="country">
                                    </div>
                                </div>
                                <div class="text-left form-sm mt-2">
                                    <button type="submit" class="btn btn-info">Sign Up</button>
                                </div>

                            </form>

                            <!--Modal Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#_____" class="blue-text">Log
                                            In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/Panel 2-->
                    </div>

                </div>
            </div>
            <!--/Content-->
        </div>
    </div>
    <!--Modal: Login / Register Form-->
    <div class="d-flex justify-content-center align-items-center">
        <button class="fas fa-compass mr-4" aria-hidden="true"></button>
        <a href="_____" class="active-link letter-spacing login-text h1-color mr-4" data-toggle="modal"
            data-target="#modalLRForm">Log In / Register</a>
        <!--Modal: Button for Posting a Listing-->
        <button type="button" class="btn btn-active ml-auto" data-toggle="modal" data-target=".bd-example-modal-xl">Post
            a
            Listing</button>
        <!--Modal: Listing Form-->
        <form class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
            aria-hidden="true" method="post" action="/postlisting">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">

                    <form class="container p-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title</label>
                            <input class="form-control" id="exampleFormControlInput1" name="title">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Price</label>
                            <input class="form-control" id="exampleFormControlInput1" name="price">
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Condition</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="condition">
                                    <option>1</option>
                                    <option>Used</option>
                                    <option>Refurbished</option>
                                    <option>Open Box</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label for="exampleFormControlSelect1">Categories</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="category">
                                        <option>1</option>
                                        <option>Clothing</option>
                                        <option>Electronics</option>
                                        <option>Furniture</option>
                                        <option>Vehicles</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="exampleFormControlSelect1">Sub Categories</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="subCategory">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                maxlength="250"></textarea>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="exampleFormControlFile1">Upload Image</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
                            </div>
                            <div class="col">
                                <label for="exampleFormControlFile1">Image URL</label>
                                <input type="text" class="form-control-file" id="exampleFormControlFile1"
                                    name="testImage">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>

                </div>
            </div>
        </form>
    </div>
</div>