<form id="new-listing-form" class="container p-4" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" name="price">
    </div>
    <div>
        <div class="form-group">
            <label for="condition">Condition</label>
            <select class="form-control" name="condition_id">
                <option value="" disabled selected>Select your item's condition</option>
                <% if (condition.length > 0) { %>
                <% for(let i=0; i < condition.length; i++) { %>
                <option value="<%= condition[i].id %>"><%= condition[i].name %></option>
                <% } %>
                <% } %>
            </select>
        </div>
        <div id="category-container" class="form-group">
            <%- include('category-block' , {label:"listing"}) -%>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" name="description" maxlength="250"></textarea>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="image">Upload Image</label>
            <input type="file" class="form-control-file" id="file-chooser" name="images" multiple>
        </div>
    </div>
    <div id="message"></div>
    <button type="submit" id="upload-btn" class="btn btn-info">Submit</button>
</form>