<!-- Search bar -->

<form  class="container h-75 d-flex justify-content-center" method="post" action="/search">
  <div class="my-auto w-75">
    <% if (message) { %>
    <div class="font-weight-bolder text-info"><%= message %></div>
    <% }; %>
    <div class="input-group md-form form-sm form-2 active-cyan-4">

      <input class="form-control letter-spacing p-4" type="text" name="keyword" placeholder="What can we help you find?"
      aria-label="Search">
      <div class="input-group-append">
        <span class="input-group md-form form-sm form-2" id="basic-text1">
          <button class="btn-search" type="submit" aria-hidden="true">Search</button>
        </span>
      </div>
    </div>
    <div>
      <a id="advance-search-btn" type="button" class="btn btn-link" aria-hidden="true">Advanced</a>
      <span class="invisible"><%- include('category-block', {label:"search"}) -%></span>
    </div>
  </div>
</form>