<%- include('../partials/head', {css: "index.css"}) -%>
<body class="background-image">
    <header class="d-flex justify-content-between align-items-center mt-4">
        <%- include('../partials/index/index-body') -%> 
    </header>   
    <%- include('../partials/index/search-form') -%> 
</body>
    <%- include('../partials/script', {javascript:"index.css"}) -%>
</html>