<%- include('../partials/head') -%>
<header class="d-flex justify-content-between align-items-center mt-4">
        <%- include('../partials/index/index-body') -%> 
</header>
<body class="background-image">
    <%- include('../partials/index/search-form') -%> 
</body>
    <%- include('../partials/script') -%>
</html>