<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/listings/index-head") %>
</head>
<body class="background-image">

    <form method="post" action="signup">
        <p>username</p>
        <input type="text" name="username">
        <p>firstname</p>
        <input type="text" name="firstname">
        <p>last name</p>
        <input type="text" name="lastname">
        <p>email</p>
        <input type="text" name="email">
        <p>password</p>
        <input type="text" name="password">
        <p>house number</p>
        <input type="text" name="housenumber">
        <p>street</p>
        <input type="text" name="street">
        <p>city</p>
        <input type="text" name="city">
        <p>province</p>
        <input type="text" name="province">
        <p>postal code</p>
        <input type="text" name="postalcode">
        <p>country</p>
        <input type="text" name="country">
        <button type="submit">submit</button>
    </form>
</body>
</html>